{% extends "reviews/base.html" %} {% load static %}{% block title %} Reviews
{% endblock%} {% block content%}
<div class="container">
  <h1>Reviews</h1>
  <!-- <ul>
    {% for review in reviews %}
    <li>{{ review.title }}</li>
    {% endfor %}
  </ul> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Release</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <th scope="row">{{ review.title }}</th>
        <td>{{ review.industry_rating }}</td>
        <td>{{ review.theater_release_year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block jsfiles %} {% endblock jsfiles %}